h1 a, h2 a {
	color:#8F667F;
}

body {
    background-color: #0A0A0A;
    color: #F6F7EB;
    font-family: Monaco, monospace;
    font-size: 14px;
    line-height: 1.5;
}

.page-header {
    background-color: #1f0000;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #8F667F;
    font-size: 36pt;
    font-family: 'Lobster';
    text-decoration: none;
}

h2 {
    color: #8F667F;
}

.post h1,
.post h2,
.post h3,
.post h4 {
    color: #8F667F;
    font-family: 'Roboto', sans-serif;
}

.date {
    color: #593648;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #E1E2EF;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #8F667F;
    text-decoration: none;
}

.post h2 a:hover {
    color: #E1E2EF;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}